<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006223874439-6usg1bbjhr833bln1vcagrotcshqs6cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006223874439-6usg1bbjhr833bln1vcagrotcshqs6cv</string>
	<key>API_KEY</key>
	<string>AIzaSyAPmGN89zCGKe65SS5OJaN577nIaHAhcSw</string>
	<key>GCM_SENDER_ID</key>
	<string>1006223874439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bksCase</string>
	<key>PROJECT_ID</key>
	<string>bks-task</string>
	<key>STORAGE_BUCKET</key>
	<string>bks-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006223874439:ios:b864bdc840c38783345b22</string>
</dict>
</plist>